/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: rgb(234, 232, 228);
  margin:0
}
.mainLogo{
  margin: 4px;
  margin-right: auto;
  background-color: transparent;
  color:red;
  font-size: 30px;
  font-family: inherit;
  text-decoration: none;
}
.logged-in{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 99%;
    position: fixed;  
    top: 18px;
}
.greeting{
  margin:auto;
  font-family: inherit;
}
.log-out-button{
  font-family: inherit;
   /* background-color:#39C39A;
   color:white;
   text-align: center;
   border-radius: 3px;
   outline:none;
   border: .1px;
   font-size: 16px;
   margin: 2px;
   width: 120px;
   height:40px; */
   cursor:pointer;
   text-decoration: none;
   color: black;
   outline:none;
   background-color: transparent;
   font-size:16px;
   font-style: inherit;
   border:none;
   margin-right:20px;
}
/* .greeting{
  
} */
 .sign-up-sign-in-button{
   font-family: inherit;
   background-color:#39C39A;
   color:white;
   text-align: center;
   border-radius: 3px;
   outline:none;
   border: .1px;
   font-size: 16px;
   width: 342px;
   height:57px;
   margin:2px;
   
 }
.navBar {
  background-color: rgb(234, 232, 228);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin:0;
  /* flex-wrap: wrap; */
  width: 100%; 
}
.navBarButton{
  text-decoration: none;
   color: black;
   outline:none;
   background-color: transparent;
   font-size:16px;
   font-style: inherit;
}
 .login-sign-up-link{
   font-weight:bold;
   text-decoration: none;
   color: black;
   font-size:16px;
   font-style: inherit;
 }      
 
 .navList{
   padding: 10px;
 }
 .form-container{
    display:flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    max-width: 450px; 
   margin:auto;
   display:flex;
   justify-content: center;
   position:absolute;
   right:0;
   left:0;
   bottom: 20;
   top: 0;
   height: 60vh;
 }
 
 .sign-up-form-container{
    display:flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    max-width: 450px; 
   margin:auto;
   display:flex;
   justify-content: center;
   position:absolute;
   right:0;
   left:0;
   bottom: 0;
   top: 0;
   height: 50vh;
 }
 
 .session-form{
    display:flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
 }
 
 .font-before-link{
  font-size:16px;
  font-style: inherit;
  color: black;
 }
 .line-break{
   color:black;
 }
 
 .form-boxes{
   font-family:"Calibre", Helvetica, Arial, sans-serif;
   padding: 16px;
   margin: 10px;
   border-color:black;
   border-width:thin;
   line-height: 1.5;
  width:310px;
  height:48px;
    font-size: 20px
   /* border-color: black; */
   /* flex-basis: 0 0 200px; */
 }
 .errors{
   font-family: inherit;
   font-size: 10px;
 }
 .create-listing-form{
   /* background-color: darkgrey; */
   max-width: 450px;
   margin:auto;
   display:flex;
   justify-content: center;
   position:absolute;
   right:0;
   left:0;
   bottom: 0;
   top: 0;
   height: 60vh;
   align-items: stretch;
   gap: 20px;
   border-radius: 30px;
  border: solid #000;
  border-width: thin;  
  background-color: white;
 }
 .previous-button{
   font-family: inherit;
   background-color:transparent;
   color:#39C39A;
   text-align: center;
   border-radius: 4px;
   outline:none;
   border: .1px;
   font-size: 12px;
   margin-left:30px;
   margin-bottom:0px;
   width: 120px;
   height:40px;
   cursor:pointer;
}
 .previous-button:hover{
   background-color: lightgrey;
 }
 .next-button-with-prev{
   font-family: inherit;
   background-color:#39C39A;
   color:white;
   width: 120px;
   height: 40px;
   cursor:pointer;
   margin-right:30px;
   margin-left: 150px;
  border-radius: 40px;
  border-color:#39C39A;
  border-style:solid;
  border-width:thin;
 }
.next-button-single{
   font-family: inherit;
   background-color:#39C39A;
   color:white;
   width: 120px;
   height: 40px;
   cursor:pointer;
  margin-left:300px;
  margin-right:30px;
  margin-bottom:15px;
  border-radius: 40px;
  border-color:#39C39A;
  border-style:solid;
  border-width:thin;
 }
 .next-button-single:hover{
  background-color: white;
  color:#39C39A;
 }
 .next-button-with-prev:hover{
  background-color: white;
  color:#39C39A;
 }
 .description-list{
  color:lightgrey;
  font-family:inherit;
  font-size:14px;
 }
 .above-descript-list{
  color:lightgrey;
  font-family:inherit;
  font-size:18px;
 }
 .name-box #name-title{
   margin-left: 25px;
   margin-right:30px;
   font-family: inherit;
   font-size:28px;
   text-align:left;
   font-weight: bold;
   margin-bottom: 15px;
 }
 .name-box #name-title::before{
  content: '*';
  color: red;
  font-size:20px;
 }
 .name-box #blurb{
   padding:5px;
   margin-top:0px;
   margin-left: 25px;
   margin-right: 30px;
   font-family: inherit;
   font-size:20px;
   text-align: left;
 }
 .text-bubble{
   padding:10px;
   font-family: inherit;
   color:grey;
  border: solid lightgrey;
   border-color:lightgrey;
   font-size:16px;
   width: 370px;
   height:25px;
   border-radius: 30px;
   border-width: thin;
   margin-left:30px;
   margin-top: 15px;
 }
 .name-box #tips{
  font-family: inherit;
  font-size:13px;
  color:grey;
  margin-left: 30px;
  margin-top:80px;
 }
 .name-box #tips-list{
   font-family:inherit;
   font-size:13px;
   color:grey;
   margin-left:10px;
   margin-top:10px;
 }
 .name-box #tips-list li{
   margin:10px;
 }
 .name-box #required{
   color:red;
   font-size:10px;
   margin-left: 30px;
   margin-top: 5px;
 }
 .name-box #description-text-area{
  padding:8px;
   font-family: inherit;
   font-size:14px;
   color:grey;
   width: 370px;
   height:120px;
   border: solid lightgrey;
   border-color:lightgrey;
   border-radius: 30px;
   border-width: thin;
   margin-left:30px;
   margin-top: 15px;
   resize: none;
 }
  .name-box #tips-descript{
  font-family: inherit;
  font-size:13px;
  color:grey;
  margin-left: 30px;
  margin-top:20px;
 }
 .select-bubble{
   padding-top: 5px ;
   padding-bottom:5px;
  padding-left:20px;
  padding-right:20px;
   font-family: inherit;
   color:black;
   font-size:16px;
   width: 390px;
   height:40px;
   border: solid;
   border-color:lightgrey;
   border-radius: 30px;
   border-width: thin;
   margin-left:30px;
   margin-top: 15px;
   
 }
 .descript-buttons{
   margin-top:15px;
 }
 .cost-buttons{
   margin-top:78px;
 }
 .name-box #amenities-list{
   font-family:inherit;
   font-size:20px;
   color: black;
   margin-left:10px;
   margin-top:20px;
  list-style-type: none;
 }
 .name-box #amenities-list li{
   margin:10px;
 }
 .amenities-button{
   margin-top:115px;
 }
.activities-button{
   margin-top:159px;
}
 .name-box #booking-title{
   margin-left: 25px;
   margin-right:30px;
   font-family: inherit;
   font-size:20px;
   text-align:left;
   font-weight: bold;
   margin-bottom: 15px;
   margin-top:15px;
 }
 .name-box #check-title{
   margin-left: 25px;
   margin-right:30px;
   font-family: inherit;
   font-size:20px;
   text-align:left;
   font-weight: bold;
   margin-bottom: 15px;
 }
 .select-bubble-booking{
   padding-top: 5px ;
   padding-bottom:5px;
  padding-left:20px;
  padding-right:20px;
   font-family: inherit;
   color:black;
   font-size:13px;
   width: 390px;
   height:30px;
   border: solid;
   border-color:lightgrey;
   border-radius: 30px;
   border-width: thin;
   margin-left:30px;
   margin-top: 15px;
   margin-bottom:12px;
 }
 .booking-detail-button{
   margin-top:60px;
 }
 .check-in-button{
   margin-top:38px;
 }
 .start-hosting{
    font-family: inherit;
   background-color:#39C39A;
   color:white;
   width: 120px;
   height: 40px;
   cursor:pointer;
   margin:2px;
  border-radius: 40px;
  border-color:#39C39A;
  border-style:solid;
  border-width:thin;
  text-decoration: none;
 }
.start-hosting:hover{
  background-color: transparent;
  color:#39C39A;
 }
 .name-box #act-amen-title{
   margin-left: 25px;
   margin-right:30px;
   font-family: inherit;
   font-size:28px;
   text-align:left;
   font-weight: bold;
   margin-bottom: 15px;
 }
 
 .hide-button{
  position:absolute;
  top:0; 
  right: 3px;;
  
 }
 .x-button{
   text-decoration: none;
   font-size:20px;
   color:#37474f;
 }

input[type="file"] {
    display: none;
}

.name-box #button-photo-upload{
 font-family: inherit;
   background-color:#39C39A;
   color:white;
   font-size: 12px;
  margin-top:100px;
  margin-left:175px;
  width:120px;
  height:40px;
  margin-left:40px;
  cursor:pointer;
  border-radius: 40px;
  border-color:#39C39A;
  border-style:solid;
  border-width:thin;
  padding:10px;
}

.name-box #button-photo-upload:hover{
  background-color: white;
  color:#39C39A;
 }
 .photos-buttons{
   margin-top:175px;
 }
 .index-item{
   text-decoration: none;
   font-weight:bold;
   font-size:16px;
 }
 .name-buttons{
   margin-top:20px;
 }

  .map {
   width: 500px;
   height: 500px;
   float: left;
   position: relative;
 }

 .mini-map {
   display:flex;
   width: 450px;
   height: 400px;
   justify-content: center;
   align-self: center;
 }
 .full-address{
   font-size:18px;
   font-style:inherit;
   text-align:center;
 }
 .map-button{
   margin-top:5px;
 }