/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body{
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  background-color: rgb(243, 242, 239);
  margin:0;
  padding:0;
}

.nav-li{
  font-family: "Montserrat",sans-serif;
  display:inline-block;
  margin-left: 2em;
  text-decoration: none;
  cursor:pointer;
  font-size:16px;
  color:black;
}

.nav-li-button{
 font-family: "Montserrat",sans-serif;
   display:inline-block;
   padding:0px 20px;
  text-decoration: none;
  cursor:pointer;
  font-size:16px;
  color:black;
  border-style:none;
  background-color: transparent;
}
.nav-li:hover{
transform: scale(1.04);
}
.nav-li-button:hover{
transform: scale(1.04);
}

.div-holding-search-buttons{
  transform:translateX(-40px)
}
.main-logo{
  background-color: transparent;
  color:red;
  font-size: 30px;
  font-family: "Montserrat",sans-serif;
  text-decoration: none;
  cursor:pointer;
}
.logged-in{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 99%;
    position: fixed;  
    top: 18px;
}
.greeting{
  margin:auto;
  font-family: inherit;
}
.log-out-button{
  font-family: "Montserrat",sans-serif;
   cursor:pointer;
   text-decoration: none;
   color: black;
   outline:none;
   background-color: transparent;
   font-size:16px;
   font-style: inherit;
   border:none;
   margin-right:20px;
}

 .sign-up-sign-in-button{
    font-family:"Calibre", Helvetica, Arial, sans-serif;
    padding: 5%;
    background-color:#39C39A;
    color:white;
    text-align: center;
    outline:none;
    border: .1px;
    border-radius: 3px;
    font-size: 16px;
    width: 90%;
    height: 57px;
    margin: 5%;
    cursor:pointer;
 }

 .sign-up-sign-in-button:hover{
    transform: scale(1.02);
 }

 .nav-bar{
    list-style:none;
    margin:0px;;
    padding:0px;
    display: flex;
    align-items: center;
 }
 
.navBar {
  background-color: transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin:0;
  list-style:none;

  width: 100%; 
}
.navBarButton{
  text-decoration: none;
   color: black;
   outline:none;
   background-color: transparent;
   font-size:16px;
   font-family: "Montserrat",sans-serif;
}
 .login-sign-up-link{
   font-weight:bold;
   text-decoration: none;
   color: black;
   font-size:16px;
   font-family: "Montserrat",sans-serif;
   text-decoration: none;
 }      
 
 .navList{
   padding: 10px;
 }
 
 .header-sign-forms{
  font-size:40px;
  font-weight:600px;
  font-style:inherit;
  text-align: center;
  
 }
 .login-mod-form-container{
    display:flex;
    justify-content: center;
    flex-direction:column;
    border:1px solid #ebebeb;
    border-radius: 2px;
    background-color:whitesmoke;
    width: 332px;
    height:450px;
 }
 .sign-up-form-container{
    display:flex;
    justify-content: center;
    flex-direction:column;
    border:1px solid #ebebeb;
    border-radius: 2px;
    background-color:whitesmoke;
    width: 332px;
    
 }
 .session-form{
    display:flex;

    flex-flow: column;

 }
 
 .font-before-link{
  font-size:16px;
  font-style: inherit;
  color: black;
  text-align:center;
 }
 .font-switch-login{
  font-weight:bold;
   text-decoration: none;
   color: black;
   font-size:16px;
   font-family: "Montserrat",sans-serif;
   text-decoration: none;
   background-color:transparent;
   border-style:none;
   cursor:pointer;
 }
 .line-break{
   color:black;
   width:70%;
 }
 
 .form-boxes{
   font-family:"Calibre", Helvetica, Arial, sans-serif;
   padding: 5%;
   margin: 5%;
   margin-bottom:0px;
   width:80%;
   border-color:black;
   border-width:thin;
   line-height: 1.5;
    font-size: 16px
 }
  .form-boxes-first-name{
   font-family:"Calibre", Helvetica, Arial, sans-serif;
   border-color:black;
   border-width:thin;
   line-height: 1.5;
    font-size: 16px;
  margin:5%;
  margin-right:2%;
   margin-bottom:0px;
  padding:5%;
  width:40%

 }
 .form-boxes-last-name{
   font-family:"Calibre", Helvetica, Arial, sans-serif;
   border-color:black;
   border-width:thin;
   line-height: 1.5;
    font-size: 16px;
  margin:5%;
  margin-left:2.5%;
  padding:5%;
  width:40%;
   margin-bottom:0px;
 }
 .errors{
   font-family: inherit;
   font-size: 12px;
   text-align:left;
   list-style:none;
   line-height:1.4
 }
 .list-name{
   list-style:none;
   margin:0px;
   margin-top:5px;
 }
 .create-listing-form{
   max-width: 450px;
   margin:auto;
   justify-content: center;
   right:0;
   left:0;
   bottom: 0;
   top: 0;
   gap: 20px;
   border-radius: 30px;
  border: solid #000;
  border-width: thin;  
  background-color: white;
 }
 .previous-button{
   font-family: inherit;
   background-color:transparent;
   color:#39C39A;
   text-align: center;
   border-radius: 4px;
   outline:none;
   border: .1px;
   font-size: 12px;
   margin-left:30px;
   margin-bottom:0px;
   width: 120px;
   height:40px;
   cursor:pointer;
}
 .previous-button:hover{
   background-color: lightgrey;
 }
 .next-button-with-prev{
   font-family: inherit;
   background-color:#39C39A;
   color:white;
   width: 120px;
   height: 40px;
   cursor:pointer;
   margin-right:30px;
   margin-left: 150px;
   margin-bottom:15px;
  border-radius: 40px;
  border-color:#39C39A;
  border-style:solid;
  border-width:thin;
 }
.next-button-single{
   font-family: inherit;
   background-color:#39C39A;
   color:white;
   width: 120px;
   height: 40px;
   cursor:pointer;
  margin-left:300px;
  margin-right:30px;
  margin-bottom:15px;
  border-radius: 40px;
  border-color:#39C39A;
  border-style:solid;
  border-width:thin;
 }
 .next-button-single:hover{
  background-color: white;
  color:#39C39A;
 }
 .next-button-with-prev:hover{
  background-color: white;
  color:#39C39A;
 }
 .description-list{
  color:lightgrey;
  font-family:inherit;
  font-size:14px;
 }
 .above-descript-list{
  color:lightgrey;
  font-family:inherit;
  font-size:18px;
 }
 .name-box #name-title{
   margin-left: 25px;
   margin-right:30px;
   font-family: inherit;
   font-size:28px;
   text-align:left;
   font-weight: bold;
   margin-bottom: 15px;
 }
 .name-box #name-title::before{
  content: '*';
  color: red;
  font-size:20px;
 }
 .name-box #blurb{
   padding:5px;
   margin-top:0px;
   margin-left: 25px;
   margin-right: 30px;
   font-family: inherit;
   font-size:20px;
   text-align: left;
 }
 .text-bubble{
   padding:10px;
   font-family: inherit;
   color:grey;
  border: solid lightgrey;
   border-color:lightgrey;
   font-size:16px;
   width: 370px;
   height:25px;
   border-radius: 30px;
   border-width: thin;
   margin-left:30px;
   margin-top: 15px;
 }
 .text-bubble-cost{
   padding:10px;
   font-family: inherit;
   color:grey;
  border: solid lightgrey;
   border-color:lightgrey;
   font-size:14px;
   width: 370px;
   height:20px;
   border-radius: 30px;
   border-width: thin;
   margin-left:30px;
   margin-top: 5px;
 }
 .name-box #tips{
  font-family: inherit;
  font-size:13px;
  color:grey;
  margin-left: 30px;
  margin-top:80px;
 }
 .name-box #tips-list{
   font-family:inherit;
   font-size:13px;
   color:grey;
   margin-left:10px;
   margin-top:10px;
 }
 .name-box #tips-list li{
   margin:10px;
 }
 .name-box #required{
   color:red;
   font-size:10px;
   margin-left: 30px;
   margin-top: 5px;
   margin-bottom:10px;
 }
 .name-box #description-text-area{
  padding:8px;
   font-family: inherit;
   font-size:14px;
   color:grey;
   width: 370px;
   height:120px;
   border: solid lightgrey;
   border-color:lightgrey;
   border-radius: 30px;
   border-width: thin;
   margin-left:30px;
   resize: none;
 }
  .name-box #tips-descript{
  font-family: inherit;
  font-size:13px;
  color:grey;
  margin-left: 30px;
  margin-top:20px;
 }
 .select-bubble{
   padding-top: 5px ;
   padding-bottom:5px;
  padding-left:20px;
  padding-right:20px;
   font-family: inherit;
   color:black;
   font-size:16px;
   width: 390px;
   height:40px;
   border: solid;
   border-color:lightgrey;
   border-radius: 30px;
   border-width: thin;
   margin-left:30px;
   margin-top: 15px;
   
 }
 .descript-buttons{
   margin-top:11.5px
 }
 .cost-buttons{
   margin-top:42.5px;
 }
 .name-box #amenities-list{
   font-family:inherit;
   font-size:20px;
   color: black;
   margin-left:10px;
  list-style-type: none;
 }
 .name-box #amenities-list li{
   margin:10px;
   line-height:1.5
 }
 .amenities-button{
   margin-top:53px;
 }
.activities-button{
   margin-top:101px;
}
 .booking-title{
   margin-left: 25px;
   margin-right:30px;
   font-family: inherit;
   font-size:20px;
   text-align:left;
   font-weight: bold;
   margin-bottom: 15px;
   margin-top:15px;
 }
 .name-box #check-title{
   margin-left: 25px;
   margin-right:30px;
   font-family: inherit;
   font-size:20px;
   text-align:left;
   font-weight: bold;
   margin-bottom: 15px;
 }
 .select-bubble-booking{
   padding-top: 5px ;
   padding-bottom:5px;
  padding-left:20px;
  padding-right:20px;
   font-family: inherit;
   color:black;
   font-size:13px;
   width: 390px;
   height:30px;
   border: solid;
   border-color:lightgrey;
   border-radius: 30px;
   border-width: thin;
   margin-top: 15px;
   margin-bottom:12px;
 }
 .booking-detail-button{
   margin-top:34px;
 }
 .check-in-button{
   margin-top: 58px;
 }
 .start-hosting{
   padding: 9px 25px;
   /* margin-left:20px; */
   font-size:16px;
  font-family: "Montserrat",sans-serif;
   background-color:#39C39A;
   color:white;
   cursor:pointer;
  border-radius: 40px;
  border-color:#39C39A;
  border-style:solid;
  border-width:thin;
  text-decoration: none;
  transition:0.45s
 }
.start-hosting:hover{
  background-color: transparent;
  color:#39C39A;
 }
 .name-box #act-amen-title{
   margin-left: 25px;
   margin-right:30px;
   font-family: inherit;
   font-size:28px;
   text-align:left;
   font-weight: bold;
   margin-bottom: 35px;
 }
  .name-box #check-det-title{
   margin-left: 25px;
   margin-right:30px;
   font-family: inherit;
   font-size:28px;
   text-align:left;
   font-weight: bold;
   margin-bottom: 43px;
 }
 .hide-button{
  top:0; 
  right: 3px;;
  display: flex;
    justify-content: flex-end;
  
 }
 .x-button{
   text-decoration: none;
   font-size:16px;
   color:#37474f;
   margin-right:10px;
 }

input[type="file"] {
    display: none;
}

.name-box #button-photo-upload{
 font-family: inherit;
   background-color:#39C39A;
   color:white;
   font-size: 12px;
   display:flex;
   justify-content: center;
   margin-top:100px;
  margin-left:135px;
  width:120px;
  cursor:pointer;
  border-radius: 40px;
  border-color:#39C39A;
  border-style:solid;
  border-width:thin;
  padding:10px;
}
.name-box #button-photo-added-upload{
 font-family: inherit;
   background-color:#39C39A;
   color:white;
   font-size: 12px;
   display:flex;
   justify-content: center;
   margin-top:1px;
   margin-bottom:0px;
  margin-left:135px;
  width:120px;
  cursor:pointer;
  border-radius: 40px;
  border-color:#39C39A;
  border-style:solid;
  border-width:thin;
  padding:10px;
}

.name-box #button-photo-upload:hover{
  background-color: white;
  color:#39C39A;
 }
 .photos-buttons{
   margin-top:90px;
 }
 .index-item{
   text-decoration: none;
   font-weight:bold;
   font-size:16px;
 }
 .name-buttons{
   margin-top:30px;
 }


 .mini-map {
   display:flex;
   width: 450px;
   height: 400px;
   justify-content: center;
   align-self: center;
 }
 .full-address{
   font-size:18px;
   font-style:inherit;
   text-align:center;
   margin-top:5px;
   margin-bottom:5px;
 }
 .map-button{
   margin-top:5px;
 }
 .pac-container{
   width:370px;
   color:blue;
   border:none;
   border-style:none;
   box-shadow:none;
   margin-top:15px;
 }
 .pac-container pac-logo{
   width:200px;
 }
 .pac-matched{
   font-style:"Calibre", Helvetica, Arial, sans-serif;
   font-size:16px;
 }
 .pac-item{
   font-style:"Calibre", Helvetica, Arial, sans-serif;
   font-size:16px;
   border-top:none;
   padding:10px;
   border-bottom:lightgray solid 1px;
 }
 .pac-item:hover{
   background-color: lightgray;
 }
 .pac-item-query{
   font-style:"Calibre", Helvetica, Arial, sans-serif;
   font-size:16px;
 }

  .location-button{
   margin-top: 230px
 }

 .uploaded-photo{
  margin-left:125px;
 }
.splash-container{
  display:flex;
  flex-direction:column;
  margin:10px;
}
 .title-container{
   display:flex;
   justify-content: center;
   align-items:center;
   flex-direction: column;
 }
 .header-home{
   text-align:center;
  font-size: clamp(2rem, 3vw, 4.5rem);
   margin:0px;
   margin-top:20px;
 }
 .sub-header-home{
   text-align:center;
   font-size: clamp(.78rem, 1.5vw, 1.75rem);
   margin:0px;
    padding:10px 35%;
 }
 .search-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 15px;
    margin-left: 5px;
    margin-right: 5px;
 }
 .search-wrapper-search-bar{
  display: flex;
  flex-direction: column;
  padding: 20px 24px 20px 48px

 }
 .search-wrapper-search-form{
  display: flex;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 242, 239);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 8%);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 234, 223);
    height: 7em;
}
 
 .search-wrapper-home-boxes{
  border-radius: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 234, 223);
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    width: 30vw;
    outline: none;
    font-size: 16px;
    font-family: inherit;
 }
.search-wrapper-home-boxes:hover{
 box-shadow:0 2px 5px rgba(0, 0, 0, 12%);
}
 .background-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.first-name-last-name{
  display:flex;
}
.picture-row{
  display:flex;
  align-items:center;
  justify-content: space-around;
}

.button-add-pic {
  background-color: white;
  font-weight:500px;
  font-family:inherit;
  color: darkgray;
   display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: dashed lightgray 2px;
   width: 125px;
  height: 125px;
  cursor: pointer;
}
.form-img-prev{

  width: 125px;
  height: 125px;
  cursor: pointer;
  object-fit: cover;

}
.photo-list-item{
    font-family: inherit;
    font-size: 16px;
    color: grey;
    margin-left: 10px;
    margin-top: 10px;
}
.photo-list{
  font-family: inherit;
    font-size: 13px;
    color: grey;
    margin-left: 10px;
    margin-top: 10px;
}
.photos-div{
  margin-top:50px;
  margin-bottom:50px;
}
.button-photo{
  margin-top:100px;
}
.hidden{
  color:white;
  font-size:10px;
   margin-left: 30px;
   margin-top: 5px;
}
.night-stay-div{
  margin-top:15px
}
.name-box{
  display:flex;
  flex-direction:column;
}
.location-input-div{
  margin-top: 30px;
  margin-bottom: 20px;
}
.location-instruction{
  margin-left: 40px;
  margin-top: 20px;
  color: black;
  font-size: 16px;
  font-family: inherit;
}
#autocomplete{
  padding-left:20px
}
#name-button{
  margin-top:9.5px
}
.info-header{
  color:black;
  font-weight:600;
  text-decoration: none;
  font-size:16px;
  margin-bottom: 5px;
  padding: 0px;
}
.info-second-header{
color:black;
font-size:10px;
font-weight: 500;
}
.info-div{
  display:flex; 
  flex-direction:column;
}
.info-link{
  text-decoration:none
}
.search-wrapper-search-button{
    margin-right: 10px;
    margin-top: 13px;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    border-style: none;
    color: white;
    background-color:#39C39A;
    border:solid 2px #39C39A; 
    cursor:pointer;
    text-decoration: none;
  transition:0.45s
}
.search-wrapper-search-button:hover{
  background-color: white;
  color:#39C39A;
}
.main-photo-div{
  border-radius: 24px;
  margin-left:20%;
  margin-right:20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: relative;
  top: -70px;
  overflow: hidden;
  min-height: 29vh;
  max-height: 50vh;
}

.img-main {
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
}
.img-home-page {
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 24px 24px 0px 0px;
}
.div-home-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.home-page-link-photos{
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width:100%;
    border-radius:24px;
    transition:transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s

}
.home-page-link-photo-left{
      border-radius: 24px;
      margin-right: 2%;
        display: flex;
        flex-direction: column;
        width: 100%;
        /* width: 80%; */
        /* height: 40%; */
        /* height: 45vh; */
        /* border-radius: 24px; */
        justify-content: flex-end;
        /* background-image: url(https://hip-lamping-cover-photos.s3.us-west-1.amazonaws.com/rhett-house+copy.jpg); */
        /* background-size: cover; */
        transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
      }

.home-page-link-photo-left:hover{
  box-shadow: 0px 4px 5px  rgba(0,0,0,.25);
  transform: translateY(-5px);
}
.home-page-link-photos:hover{
  box-shadow: 0px 4px 5px  rgba(0,0,0,.25);
  transform: translateY(-5px);
}
.home-page-link-photo-right:hover{
  margin-left:2%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px black;
  width:100%;
  height: 45vh;
  border-radius:24px;
  box-shadow:0 0px 25px 0 rgba(0,0,0,.25)
}
.home-page-link-div{
  display:flex;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
}
.div-image {
      height: 45vh;
}
.card-cover{
  height:30%;
  display:flex;
  font-size:25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color:rgb(112, 77, 98)
}
.card-cover-right{
  height:30%;
  display:flex;
  color:white;
  font-family:inherit;
    font-size:25px;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
background-color:rgb(143, 136, 70);
}
.photo-inside-div-home{
  height:70%;

}
.no-listings{
  margin: 10px;
  color: red;
  font-size:18px;
}
.small-search-wrapper-search-form{
  border:black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
}
.small-search-wrapper-search-bar{
  border:black
}
.small-search-wrapper-where{
  font-size:0;
}
.small-search-wrapper-home-boxes{
border-radius: 50px;
border: solid lightgray 1px;
padding: 12px;
width: 20vw;
outline: none;
font-size: 16px;
font-size: .7;
font-family: inherit;
}
.nav-search-bar-div{

}

.small-search-wrapper-search-button{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    border-style: none;
    color: white;
    background-color: #39C39A;
    border: solid 2px #39C39A;
    cursor: pointer;
    text-decoration: none;
    transition: 0.45s;
    
}
.small-search-wrapper-search-button:hover{
  background-color: white;
  color:#39C39A;
}
.sub-total-div{
 display: flex;
  margin: 0 10% 0 10%;
  justify-content: space-between;
}
.sub-total-word{
  font-size:16px;
  font-family:inherit;
  font-weight:600;
}
.total-price-confirm{
    font-size:16px;
  font-family:inherit;
  font-weight:500;
}
.confirm-price-div{
  display: flex;
  flex-direction:column;

}
.confirm-price-div-line{
  display: flex;
  flex-direction:column;
  border-top:1px solid lightgray;
  border-bottom:1px solid lightgray;
}
.reservation-dets-confirm{
  display:flex;
  font-weight:600;
  justify-content: center;
}
.confirm-button-div{
  display:flex;
  justify-content:center;
}

.font-main-page-photo{
padding:10px;
color:white
}
.check-in-out-item{
  display: flex;
}
.night-out-item{
  display:flex;
    justify-content: space-between;
    margin-left: 2px;
    margin-right: 8px;
}
.link-over-text-box-reserv{
  text-decoration:none;
  margin-top:-4px
}
 .link-over-text-box-reserv:hover{
  background:whitesmoke
 }
 .reserv-p{
   font-size: 16px;
    color: grey;
    font-style: inherit;
    margin-top:5px;
 }
 .reserv-p-end{
   font-size: 16px;
    color: grey;
    font-style: inherit;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto
 }
 .reservation-show{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top:solid 1px lightgrey;
  
 }
 .reservation-form{
   border:solid black 2px;
  background-color: white;
  border: solid lightgray;
  border-width: thin;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 8%);
  margin:20px;
  padding:40px;
 }

 .title-res-show{
   text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0;
 }
 .bolded-nights{
   margin-right:5px;
   font-weight:550;
   font-family:inherit;
 }
 .details-div{
   display:flex;
   flex-direction: column;
   margin: 20px;
    margin-right: 50px;
    margin-left: 0px;
   
 }
 .details-info{
  margin: 5px 0px 5px 0px;
 }
.res-name-div{
 margin-bottom: 15px;
    text-align: center;
}
.res-show-name{
  font-size:20px;
  font-family:inherit;
}
.res-form-and-dets{
  display:flex;

}
.res-show-images{
      padding: 10px;
    height: 50vh;
    object-fit: cover;
    background-color: white;
    margin-bottom: 0px;
}


.delete-button-res-show{
    background-color: rgba(57,195,154,.9);
    color: white;
    border-style: none;
    font-style: inherit;
    font-family: inherit;
    font-size: 12px;
    font-weight:500;
    padding: 3px 10px 3px 10px;
    border: solid 1px transparent;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
}
.delete-button-res-show:hover{
  transform: scale(1.02);
  background-color:rgba(57,195,154,1);
  font-weight:550
}


.fab {
  font-size: 3rem;
  text-decoration: none;
  color: black;
}
.footer-list {
  display: flex;
  padding-left: 0;
  justify-content: space-around;
  align-items: flex-end;
}
.content {
  min-height: calc(100vh - 70px);
}

footer{
  padding: 2em 0px
}

.nav-bar-container {
  width:90%; 
  /* max-width:900px;  */
  display:flex;
  justify-content: space-between;;
  margin: 0 auto;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  padding: 30px 5%
}
.nav-bar-nav {
  display: flex; 
  justify-content: flex-end;
}
.nav-link {
  text-decoration:none;
  color: black;
      
}

@media (max-width:1004px) {
  .nav-bar-container{
    flex-direction: column;
    padding-bottom:0;
  }
  .small-search-wrapper-home-boxes {
    width:20em;
  }
  .small-search-wrapper-search-form{
    margin-bottom:0.5em;
    margin-left:2em;
  }
  .logo-div{
    text-align: center;
    margin-bottom:.6em;
  }
 
  header{
    text-align:center;
    padding-bottom:.5em;
  }
  .home-page-link-div{
    flex-direction: column;
    margin-left:10%;
    margin-right:10%
  }
  .home-page-link-photos{
    margin-left:0;
    margin-top:2em;
  }
  .main-photo-div {
    margin-left: 10%;
    margin-right: 10%;
    min-height:0vh;
  }
  .div-image{
    height: 30vh;
  }
   .profile-div{
   flex-direction: column;
   }  
     .map {
       width: 300px;
     }
  .index-item-li {
    flex-grow: .5;
  }
}
@media (max-width: 530px) {
  .nav-li {
    margin: .5em 0;
  }
  .small-search-wrapper-home-boxes {
    width: 10em;
  }
  header{
    padding-bottom:0;
  }
  .nav-bar {
    flex-direction: column;
    /* justify-content: center; */
  }
  .map-item-container{
    flex-direction:column;
  }
  .index-item-li{
    width:80%
  }
  .index-item {
    flex-direction:column;
    align-items: center;
  }
  .map{
    width:500px;
  }
  /* new and edit */
  .name-box #description-text-area{
    height: 80px;
    width:80%
  }
  .name-box #tips-descript{
    margin-top: 0.3em;
    margin-bottom: 0;
  }

    .name-box #tips-list{
      margin-top:0;
      margin-bottom: 0;
    }
  .descript-buttons {
    margin-top:0;
    display:flex;
    justify-content: space-between;
  }
    .name-box #tips {
      margin-top:0;
    }
    .text-bubble {
      width: 80%;
      margin-top:0;
    }
    #name-button{
      margin-top:0;
    }
    .text-bubble-cost {
      width:75%;
      margin-left:25px;
      margin-top:0;
    }
    .select-bubble-booking{
      width:90%;
      margin-bottom:0;
      margin-top:.5em;
    }
   
    .cost-buttons{
      margin-top:1em;
      display:flex;
      justify-content: space-between;
    }
    .next-button-with-prev{
      margin-left:0;
    }
    .name-box #act-amen-title{
      margin-bottom:0;
    }
    .amenities-button{
      margin-top:0.8em;
      display:flex;
      justify-content: space-between;
    }
    .name-box #amenities-list{
      margin-top:0.2em;
      margin-bottom:0;
    }
    .activities-button {
      margin-top:1.2em;
      display: flex;
      justify-content: space-between;
    }
    
    #act-amen-title,#name-title {
      margin-top:0;
    }
    .name-box #check-det-title {
      margin-bottom:0.3em;
      margin-top: 0;
    }
    .booking-detail-button{
      margin-top: 0.2em;
      display: flex;
      justify-content: space-between;
    }
    .location-button {
      margin-top: 6.8em;
      display: flex;
      justify-content: space-between;
    }
    #name-button{
      display: flex;
      justify-content: flex-end;
    }
    .next-button-single {
      margin-left:0;
    }
    .check-in-button {
      display: flex;
      justify-content: space-between;
      margin-top: 1em;
    }
    .location-instruction {
      margin-top: 0
    }
    .mini-map {
      display: flex;
      width: 100%;
      height: 375px;
      justify-content: center;
      align-self: center;
    }
    .map-button{
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
    }
    .photos-buttons{
      margin-top:1em;
      display: flex;
      justify-content: space-between;
    }
    .name-box #name-title{
      /* margin-bottom:0; */
    }
}
@media (max-width:370px) {
  .photo-and-name{
    flex-direction: column;
  }

    .name-box #description-text-area {
      height: 80px;
      width: 80%
    }
  
    .name-box #tips-descript {
      margin-top: 0.3em;
      margin-bottom: 0;
    }
  
    .name-box #tips-list {
      margin-top: 0;
      margin-bottom: 0;
    }
  
    .descript-buttons {
      margin-top: 0;
      display: flex;
      justify-content: space-between;
    }
  
    .name-box #tips {
      margin-top: 0;
    }
  
    .text-bubble {
      width: 80%;
      margin-top: 0;
    }
  
    #name-button {
      margin-top: 0;
    }
  
    .text-bubble-cost {
      width: 75%;
      margin-left: 25px;
      margin-top: 0;
    }
  
    .select-bubble-booking {
      width: 90%;
      margin-bottom: 0;
      margin-top: .5em;
    }
  
    .booking-title {
      margin-top: 10px;
    }
  
    .cost-buttons {
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
    }
  
    .next-button-with-prev {
      margin-left: 0;
    }
  
    .name-box #act-amen-title {
      margin-bottom: 0;
    }
  
    .amenities-button {
      margin-top: 0.8em;
      display: flex;
      justify-content: space-between;
    }
  
    .name-box #amenities-list {
      margin-top: 0.2em;
      margin-bottom: 0;
    }
  
    .activities-button {
      margin-top: 1.2em;
      display: flex;
      justify-content: space-between;
    }
  
    .booking-title-small {
      margin-top: 0;
    }
  
    #act-amen-title,
    #name-title {
      margin-top: 0;
    }
  
    .name-box #check-det-title {
      margin-bottom: 0.3em;
      margin-top: 0;
    }
  
    .booking-detail-button {
      margin-top: 0.2em;
      display: flex;
      justify-content: space-between;
    }
  
    .location-button {
      margin-top: 6.8em;
      display: flex;
      justify-content: space-between;
    }
  
    #name-button {
      display: flex;
      justify-content: flex-end;
    }
  
    .next-button-single {
      margin-left: 0;
    }
  
    .name-box #blurb {
      font-size: 18px;
      margin-bottom: 0.5em
    }
  
    .location-instruction {
      margin-top: 0
    }
  
    .mini-map {
      display: flex;
      width: 100%;
      height: 375px;
      justify-content: center;
      align-self: center;
    }
  
    .map-button {
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
    }
  
    .photos-buttons {
      margin-top: 0.4em;
      display: flex;
      justify-content: space-between;
    }
  
    .name-box #name-title {
      margin-bottom: 0;
    }
    .create-listing-form{
      line-height:1.1;
    }
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: lightgrey;
  font-size: clamp(.6rem, 1.5vw, 1rem);
  /* padding-right:1em; */
}

@media (max-width: 650px) {
  /* This is for the page wit da listing */
}
#listing-nav,#listing-nav-2{
  margin-left:0;
}
