.index-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.listing-index-container{
  flex-direction: column;
  display: flex;
  background:white;
  /* flex: 2 1 0%; */
  min-width: 0px;
}
.map-item-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.index-item{
  display:flex;
  flex-wrap:wrap;
  text-align: left;
  overflow-wrap:break-word;
}
.map-container{
  display:flex;
  position: sticky;
    top: 0;
}
.map {
   width: 600px;
   height: 100vh;
   float: left;
   position: relative;
 }
 .index-item-li{
   list-style:none;
   text-decoration:none;
   width:45%;
 }
 .index-link{
  text-decoration:none;
  color:black;
  font-style:inherit;
  font-size:30px
 }
 .listing-index-item-box{
    margin:5%;
    display: flex;
    flex-direction: column;
   box-shadow:0 2px 5px rgb(0 0 0 / 10%);
      border-radius:10px;
 }
 .index-photo{
   width:100%;
   border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit:cover
 }
 .listing-map-index-page{
   box-shadow:0 2px 5px rgb(0 0 0 / 10%)
 }
 .text-index-box:hover{
   background:whitesmoke;
 }
 .index-location-cost{
   font-size: 16px;
   color:grey;
   font-style:inherit;
 }
.link-over-text-box{
  text-decoration:none;
  margin-top:-20px
}
 .link-over-text-box:hover{
  background:whitesmoke
 }
 .slider-div{
   opacity:1;
   transition: opacity ease-in-out 0.4s;
  /* margin-top:-6%; */
 }
 .next-carousel-button{
   cursor:pointer;
   background-color: transparent;
       border-style:none;

    top: 50%;
    left: 20px;

   /* position:absolute; */
 }
  .prev-carousel-button{
  cursor: pointer;
    background-color: transparent;
    /* position: absolute; */
    top: 50%;
    left: 20px;
    border-style:none;
 }
 .buttons-class{
   display:flex;
    justify-content: space-between;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
        transform: translateY(-200%);

 }


 /* change opacity to 0 at some point */