.index-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  border:solid black
}
.listing-index-container{
  flex-direction: column;
  display: flex;
  /* flex: 2 1 0%; */
  min-width: 0px;
}
.map-item-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.index-item{
  display:flex;
  flex-wrap:wrap;
}
.map-container{
  display:flex;
  position: sticky;
    top: 0;
}
.map {
   width: 790px;
   height: 100vh;
   float: left;
   position: relative;
 }