.left-side-prof{

  display:flex;
  flex-direction:column;
  width:30%
}
.header{
border: solid lightgray;
border-width: thin;
box-shadow: 0 1px 5px 0 rgb(0 0 0 / 8%);
margin:20px;
padding:20px
}
.email-div{
border: solid lightgray;
border-width: thin;
box-shadow: 0 1px 5px 0 rgb(0 0 0 / 8%);
margin:20px;
padding:20px
}
.users-listings{
  display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    border: solid lightgray;
border-width: thin;
box-shadow: 0 1px 5px 0 rgb(0 0 0 / 8%);
margin:20px;
padding:20px
}
.user-listing-item{
      display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.profile-div{
  background-color:white;
  display:flex;
   padding:30px 10%;
}
.trip-listing-header{
      display: flex;
    justify-content: flex-start;
    align-items: center;
}
.trip-listing-profile-title{
   font-style:inherit;
    font-size:25px;
    font-weight:600px
}
.prof-trips{
  display:flex;
  flex-direction:column;
   display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    border: solid lightgray;
border-width: thin;
box-shadow: 0 1px 5px 0 rgb(0 0 0 / 8%);
margin:20px;
padding:20px

}
.photo-and-name{
  display:flex;

}
.greyed-trust{
  color:darkgray;
  font-size: 16px;
  font-style:inherit;
  font-weight:700px;
}
.email{
  font-size: 16px;
  font-style:inherit;
  margin-left:5px
}
.prof-name{
  font-size:22px;
  overflow-wrap: break-word;
  font-weight:700;
  font-style:inherit
}
.link-prof{
  font-size:16px;
  text-decoration: none;
  font-style:inherit;
  color:black;
  cursor:pointer;
  font-weight:500;
}
.button-prof-pic {
  background-color: white;

  color: black;
   display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: solid black 2px;
   width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
.prof-img{
     width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}
.upload-prof-div{
  margin: 10px;
}
.text-box-intro{
  border-style:none;
  border:none;
padding:5px;
resize:none;
font-size:16px;
font-family: "Calibre", Helvetica, Arial, sans-serif;

color:black;
/* width:100%; */
overflow-wrap: break-word;
border:solid black 1px
}

.text-box-div{
  display:flex;
  align-items: center;
  position:fixed;
  border:solid black 1px
}
.intro{
  overflow-wrap: break-word;
}
.intro-div{
  display:flex;
  flex-direction: column;

}
.check-box-email{
  display: flex;
  align-items: center;
}