.show-container{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-style:"Calibre", Helvetica, Arial, sans-serif;
  background-color: white;
  padding:30px 10%;
}
.show-container #side-pic{
  width:20%;
}
.show-container #left-side-name{
  width:20%
}
.show-container #show-photo{
  width:60%;
}
.show-container #list-item{
  font-style:inherit;
  font-weight:bold;
  text-align: left;
  margin-left:18px;
  list-style: none;
}
.list-item-data{
  font-style:inherit;
  font-weight:normal;
}
  .show-container #name-show{
  width:60%;
  margin-right:30px;
  }
.show-container #show-color{
  color:lightgrey;
}
 
.show-container #solid{
  border-top:1px solid lightgrey;
 
}
.show-container #price{
  font-family: inherit;
    font-size: 28px;
    margin: 8px 8px 4px;
    font-weight: bold;
  
}
.show-container #per-night{
  font-family: inherit;
  font-size:20px;
  color:grey;
      margin: 0px;
    margin-left: 8px;
    margin-bottom: 10px;
}
.show-container #left{
  width:20%
}

.show-container #right{
  width:20%
}

.show-container#amenities-show{
  width:20%;
  align-items:center;
  border: solid lightgray;
  margin-right:10px;
}
.show-container #activities-show{
  flex:1;
  border: solid lightgray;
  border-width:thin;
  margin:20px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 8%)
}
.show-container #text{
  font-family:inherit;
  color:black;
  text-align: left;
  margin-left:18px;
  list-style: none;
}
.show-container #headers{
  display:flex;
  justify-content: center;
  font-family: inherit;
  margin-top:0px;
  font-weight: bold;
  font-size:28px;
}
.show-container #essentials-show{
  width:20%
}
.show-container #details-show{
  width:60%
}
.show-container #show-link{
text-decoration: none;
font:12px;
font-family:inherit;
text-align:right;
color: grey;
}
.show-container #link-location{
  text-align:left;
  margin-right:4px;
  margin-top:2px;
}
.show-container #show-delete-button{
  font-family: inherit;
  background-color:#39C39A;
  color:white;
  font-size: 12px;
  cursor:pointer;
  border-radius: 40px;
  border-color:#39C39A;
  border-style:solid;
  border-width:thin;
} 
 .photo-container{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid lightgrey;
 }
 .show-images{
     padding: 10px;
    height: 50vh;
    width: 30vw;
    object-fit: cover;
    background-color: white;
    margin-bottom: 0px;
 }
 .listing-title{
   font-size:60px;
   font-weight:600;
   font-style:inherit;
   margin:0px;
 }
 .name-show{
   display:flex;
   flex-direction: column;
   width:70%;
 }
 .recommended-show{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top:0px
 }
 .cost-show{
   display:flex;
   flex-direction:column;
   font-family: inherit;
  border: solid lightgrey;
  border-width: thin;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 8%)
  
 }
 .booking-box{
    position: sticky;
    top: 0;
    background-color: transparent;
    margin-top: -18em;
    margin-bottom: 2em;
    display: flex;
    justify-content: flex-end;
    margin-left: 70%;
    max-width:240px;
    z-index:4;
 }
 .check-in{
   display:flex;
   flex-direction:column;
   justify-content: space-between;
     }
      .check-out{
   display:flex;
   flex-direction:column;
   justify-content: space-between;
   border-left:1px solid lightgrey;
   }
 .descript-show{
   display:flex;
   flex-direction:row;
   width:70%;
   margin-top: 15px;
 }
 .box-show-page{
  display:flex;
  flex-wrap:wrap;
  width:70%
 }
 .list-show-page{
   line-height:1.5;
   display:flex;
   flex-direction:column;
   justify-content:center
 }
 .details-container{
   display:flex;

 }
 .detail-title-show{
  display:flex;
  flex-direction:column;
 }
 .detail-header{
  font-family:inherit;
  font-size:16px;
 }
 .details-show{
  display:flex;
  width:70%
 }
 .show-map{
   width: 100%;
   height:400px;
   /* position:relative; */
 }
 .show-map-prop{
 height:400px;
   width:70%;
   position:relative;
 }
 .location{
  margin-left:25.5%;
   font-family:inherit;
   font-size:32px;
 }
 .review-index-item-show{
   display:flex;
   flex-direction:column;
   width:70%;
 }
 .number-of-reviews-show{
   display:flex;
 }
.review-index-item-array-show-div{
  display:flex;
  flex-direction:column;
  
  width:70%;
}

.number-of-reviews-show{
  display:flex
}
.review-index-item{
  display:flex;
  flex-direction: column;

}
.review-title-body-div{
  display:flex;
  flex-direction: column;
}

.div-for-recommends{
display: flex;
}

.name-initial-review{
  font-size: 18px;
  font-weight:550;
  font-style:inherit;
  margin:0px
}

.recommends-review{
  font-size: 18px;
  font-style:inherit;
  font-weight:400;
  margin:0 0 0 5px;
}

.review-time{
  color: grey;
    font-size: 18px;
    font-style: inherit;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.green-helpful-button{
  background-color:rgba(57,195,154,.9);
  color:white;
  border-style:none;
  font-style:inherit;
  font-size:14px;
  font-weight: 700px;
  padding:12px 0px 12px 0px;
  border:solid 1px transparent;
  cursor:pointer;
  text-decoration:none;
}
.green-helpful-button:hover{
  transform: scale(1.02);
  background-color:rgba(57,195,154,1);

}
.greyed-out-button{
  color:#757575;
  background-color: transparent;
  border-style:none;
  border: solid 3px #757575 ;
  font-style:inherit;
  font-size:14px;
  font-weight: 900px;
  padding:12px 0px 12px 0px;
  cursor:pointer;
  text-decoration:none
}

.helpful-word{
  margin:0px 10px 0px 10px
}
.number-of-votes{
  margin:0px 10px 0px 10px
}
.thumbs-up{
  margin:0px 10px 0px 10px

}
.title-review{
  font-family:"Calibre", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  margin-top:0px;
  margin-bottom:15px;
}
.delete-review-button{
  font-family:inherit;
 background-color:rgba(57,195,154,.9);
  color:white;
  cursor:pointer;
  padding:10px;
  border-style:none;
  margin-left:auto;
  font-weight: 700px;
  border:solid 1px transparent;
  cursor:pointer;
  text-decoration:none;
}
.delete-review-button:hover{
  transform: scale(1.02);
  background-color:rgba(57,195,154,1);
}
.delete-review-button-div{
  margin-left: auto;
  margin-top:5px;
}
.button-review-div{
  margin-left: auto;
}

.review-break{
  border-top:1px solid lightgrey;
  margin-top:35px;
}
.div-inside-recommend-condition{
  display:flex
}

.select-menu{
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  color:black;
  font-style:inherit;
  border:solid lightgray 2px;
  border-radius:30px;
}
.select-prompt{
  font-style:inherit;
  font-size:20px;
   margin:10px 0px 10px 0px;
}
.select-menu:focus,
.select-menu:hover{
  outline:none;
  border:solid 2px darkgray;
}
.select-menu option{
  background:white
}
.review-body-input{
font-family: inherit;
font-size: 16px;
resize: none;
border: solid lightgrey 2px;
padding: 10px;
border-radius: 15px;
height:150px;
width:350px;
outline:none;
margin-bottom:10px;

}
.review-prompt{
  font-size: 20px;
  font-family:inherit;
  margin:10px 0px 10px 0px;

}
.review-title-text{
  font-style:inherit;
  font-size:20px;
   margin:10px 0px 10px 0px;
}
.review-title-input{
  font-style:inherit;
  font-size:16px;
  border: solid lightgrey 2px;
  padding: 10px;
  border-radius: 15px;
  outline:none;
}
.add-review{
  font-style:inherit;
  font-weight:600;
  font-size:20px;
  margin:10px 0px 10px 0px;
  text-align:center;

}
.submit-review-button{
   padding: 9px 25px;
   margin:10px 0px 10px 0px;
   font-size:16px;
  font-family: inherit;
    background-color:rgba(57,195,154,.9);
   color:white;
  font-weight: 700px;
  border:solid 1px transparent;
  cursor:pointer;
   cursor:pointer;
  border-radius: 15px;
  border-color:#39C39A;
  border-style:solid;
  border-width:thin;
  text-decoration: none;
}
.submit-review-button:hover{
  transform: scale(1.02);
  background-color:rgba(57,195,154,1);
}

.no-review-num-review{
font-style:inherit;
font-size: 2.4rem;
}
.review-form-div{
  display: flex;
  justify-content:center;
  flex-direction: column;
    border: solid 2px black;
    justify-content: center;
    padding:10px;
}
.div-holding-review-form{
  display:flex;
  justify-content:center;
  margin-bottom:50px;
  margin-top: 1em;
}
.submit-review-div{
  display:flex;
  justify-content: center;
}
.button-and-title{
  display:flex;
}
.review-already-added{
  padding:10px;
  border:2px solid black 
}
.fas-fa-hiking{
  margin-right:5px
}

.show-container #text-icons{
  font-family:inherit;
  color:black;
  text-align: left;
  list-style: none;
  margin-right:5px;
}
.show-container #text-icons-no{
  font-family:inherit;
  color:gray;
  text-align: left;
  list-style: none;
  margin-right:5px;
  
}
.activities-list-div{
  display:flex;
  margin:5px;

}
.inner-div-act{
  display:flex;
}
.inner-div-essent{
  display:flex;
  margin:5px;
}

 .list-show-page-icons{
   line-height:1.4;
   display:flex;
   flex-direction:column;
   justify-content:center
 }

 .flex-act-div{
  display:flex;
  flex-direction:column;
  margin-left: 40px;
 }

 .essentials-list-div{
  display:flex;
 }
 .div-not-signed-in-show{
   display:flex;
   flex-direction:row;
   padding:10px;
   justify-content: space-between;
 }
 .div-holding-not-signed-in{
  display:flex;
  justify-content: center;
  flex-direction:column;
  border: solid;
 }
 .signed-out-review-must{
   font-size:16px;
   font-style:inherit;
  padding:10px
 }
 .review-form-listing-show-div-not-sign-in{
   display:flex;
   justify-content: center;
   width:70%;
   margin-top:1em;
 }

 .green-sign-up-button{
  background-color:rgba(57,195,154,.9);
  color:white;
  border-style:none;
  font-style:inherit;
  font-size:14px;
  font-weight: 700px;
  padding:12px 0px 12px 0px;
  border:solid 1px transparent;
  cursor:pointer;
  text-decoration:none;
  width:40%
}
.green-sign-up-button:hover{
      transform: scale(1.02);
        background-color:rgba(57,195,154,1);

}

.host-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 20px;
}
.host-link-show{
font-style: inherit;
    font-size: 16px;
    text-decoration: none;
    color: black;
    border-style: none;
    background-color: transparent;
    padding: 2px 0px 0px 0px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}
.host-link-show:hover{
  border-bottom: 1px solid black

}
.host-by{
  font-weight:600;
  font-style: inherit;
  font-size:18px;
}
.show-prof-img{
      width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.description{
width:55%;
overflow-wrap: break-word;
}
.review-index-item-array-show{
  width:70%;
  margin-top: 1em;
}
.review-line-break{
  color: black;
  width:100%
}
.main-div-show{
  background-color: white;
}
.request-to-book{
   margin: 7px 5px 7px 5px;
    font-family: inherit;
    position: relative;
    font-size: 16px;
    font-weight: 550;
    background-color: #39C39A;
    border: 3px solid #39C39A;
    color: white;
    text-decoration: none;
    transition: 0.45s;
    cursor: pointer;
    padding: 10px 60px;
}
.request-to-book:hover{
background-color: white;
color: #39C39A;
border:3px solid  #39C39A;
}
.cost-per-night{
display: flex;
flex-direction: column;
border-bottom: 1px solid lightgray;
}
.request-div{
  display:flex;
  border-top:1px solid lightgrey;
  justify-content:center;
}

.div-check-in-out{
  display:flex
}
.calendar{
  padding: 2px;
  border: solid 1px black;
  border: none;
  font-family: inherit;
  font-size: 16px;
  margin: 0px 6px 6px 6px;
      padding-inline-start: 0px;
    padding-inline-end: 0px;
}
.check-word{
    margin-left: 6px;
    font-size: 16px;
    font-weight: 550;
    margin-bottom: 6px;
    padding: 0px;
    margin-top: 8px;
    
}
::-webkit-calendar-picker-indicator{
    cursor:pointer;
}
.list-guest{
      list-style: none;
    margin: 0px;
    font-size: 16px;
    font-family: inherit;
    width: 95%;
    border: none;
    cursor:pointer;
}


.guest-div{
      border-top: solid 1px lightgray;
    display: flex;
    flex-direction: column;
}
.own-listing{
  font-size: 16px;
  font-family: inherit;
  margin: 10px;
}
.guest-select-div{
      margin: 0px 0px 5px 3px;
}
.review-number-logged-in{
  margin-bottom:40px;
}